# Ignore specific directories
/data/datasets/spider/
/data/datasets_json/**
/repos/**
/evaluation/gold/**
/evaluation/predictions/**
/evaluation/results/**
/checkpoints/*
/wandb/

# Ignore all files in the checkpoints directory without ignoring the directory itself
/checkpoints/**
!.gitkeep

# Ignore specific files
/core
/slurm